@model User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    
    <form class="form-signin py-5 justify-content-md-center" asp-controller="User" asp-action="Login" method="post">
        <br />
        <br />
        <br />
        <br />
        <div class="menurow py-1 float-right px-3">
            <div class="col-sm-4">
                <div>
                    <a asp-controller="Home" asp-action="Index" data-toggle="tooltip" title="Back to Home Page">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="svg-inline--fa fa-home fa-w-18" role="img" aria-hidden="true" viewBox="0 0 576 512" focusable="false" data-icon="home"
                             data-prefix="fas">
                        <path fill="#1c96dc" d="M 280.37 148.26 L 96 300.11 V 464 a 16 16 0 0 0 16 16 l 112.06 -0.29 a 16 16 0 0 0 15.92 -16 V 368 a 16 16 0 0 1 16 -16 h 64 a 16 16 0 0 1 16 16 v 95.64 a 16 16 0 0 0 16 16.05 L 464 480 a 16 16 0 0 0 16 -16 V 300 L 295.67 148.26 a 12.19 12.19 0 0 0 -15.3 0 Z M 571.6 251.47 L 488 182.56 V 44.05 a 12 12 0 0 0 -12 -12 h -56 a 12 12 0 0 0 -12 12 v 72.61 L 318.47 43 a 48 48 0 0 0 -61 0 L 4.34 251.47 a 12 12 0 0 0 -1.6 16.9 l 25.5 31 A 12 12 0 0 0 45.15 301 l 235.22 -193.74 a 12.19 12.19 0 0 1 15.3 0 L 530.9 301 a 12 12 0 0 0 16.9 -1.6 l 25.5 -31 a 12 12 0 0 0 -1.7 -16.93 Z" /></svg>
                    </a>
                </div>
            </div>
        </div>
        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
        @if (!String.IsNullOrWhiteSpace(ViewBag.message))
        {
            <div class="error py-2">
                <h6 class="h6 mb-3 font-weight-normal text-center">
                    @ViewBag.message
                </h6>
                <div class="col-md-10 text-semi">
                    Not a member yet? <a asp-controller="User" asp-action="Signup" class="btn btn-primary my-2 justify-content-between">Sign Up</a>
                </div>
            </div>
        }
        <div class="row py-2">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        </div>
        <div class="row py-2">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="pswdString" class="form-control" placeholder="Password" required>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
}

