@model User
@{
    ViewData["Title"] = "SignUp";
}

@{
    if (Model == null)
    {
    <form class="form-signup py-5 justify-content-between" asp-controller="User" asp-action="SignUp" method="post">
        <div class="menurow py-1 float-right px-3">
            <div class="col-sm-4">
                <div>
                    <a asp-controller="Home" asp-action="Index" data-toggle="tooltip" title="Back to Home Page">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="svg-inline--fa fa-home fa-w-18" role="img" aria-hidden="true" viewBox="0 0 576 512" focusable="false" data-icon="home"
                             data-prefix="fas">
                            <path fill="#1c96dc" d="M 280.37 148.26 L 96 300.11 V 464 a 16 16 0 0 0 16 16 l 112.06 -0.29 a 16 16 0 0 0 15.92 -16 V 368 a 16 16 0 0 1 16 -16 h 64 a 16 16 0 0 1 16 16 v 95.64 a 16 16 0 0 0 16 16.05 L 464 480 a 16 16 0 0 0 16 -16 V 300 L 295.67 148.26 a 12.19 12.19 0 0 0 -15.3 0 Z M 571.6 251.47 L 488 182.56 V 44.05 a 12 12 0 0 0 -12 -12 h -56 a 12 12 0 0 0 -12 12 v 72.61 L 318.47 43 a 48 48 0 0 0 -61 0 L 4.34 251.47 a 12 12 0 0 0 -1.6 16.9 l 25.5 31 A 12 12 0 0 0 45.15 301 l 235.22 -193.74 a 12.19 12.19 0 0 1 15.3 0 L 530.9 301 a 12 12 0 0 0 16.9 -1.6 l 25.5 -31 a 12 12 0 0 0 -1.7 -16.93 Z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <h1 class="h3 mb-3 font-weight-normal text-center">Sign Up</h1>
        @if (!String.IsNullOrWhiteSpace(ViewBag.message))
        {
            <div class="error">
                <h6 class="h6 mb-3 font-weight-normal text-center">
                    @ViewBag.message
                </h6>
                <div class="col-md-10 text-semi text-center">
                    Already a member? <a asp-controller="User" asp-action="Login" class="btn btn-primary my-2 justify-content-between">Login</a>
                </div>
            </div>
        }
        <div class="row py-2">
            <div class="col-md-5 px-2">
                <label for="inputEmail" class="text-semi">Email address *</label>
                <input type="email" name="email" class="form-control" placeholder="jondoe@something.com" required autofocus>
            </div>
            <div class="col-md-5 px-2">
                <label for="inputPassword" class="text-semi">Password *</label>
                <input type="password" name="pswdString" class="form-control" placeholder="Password" required>
            </div>
        </div>

        <div class="row py-2">
            <div class="col-md-5 px-2">
                <label for="inputFirstName" class="text-semi">First Name *</label>
                <input type="text" name="firstName" class="form-control" placeholder="Jon" required>
            </div>
            <div class="col-md-5 px-2">
                <label for="inputLastName" class="text-semi">Last Name *</label>
                <input type="text" name="lastName" class="form-control" placeholder="Doe" required>
            </div>
        </div>

        <div class="row py-2">
            <div class="col-md-5 px-2">
                <label for="inputAddress1" class="text-semi">Address Line 1</label>
                <input type="text" name="address1" class="form-control" placeholder="Street Address">
            </div>
            <div class="col-md-5 px-2">
                <label for="inputAddress2" class="text-semi">Address Line 2</label>
                <input type="text" name="address2" class="form-control" placeholder="Apt, Suite etc.">
            </div>
        </div>

        <div class="row py-2">
            <div class="col-md-5 px-2">
                <label for="inputCity" class="text-semi">City</label>
                <input type="text" name="city" class="form-control" placeholder="Tampa">
            </div>
            <div class="col-md-1 px-2">
                <label for="inputState" class="text-semi">State</label>
                <input type="text" name="state" class="form-control" placeholder="FL">
            </div>
            <div class="col-md-1 px-2">
                <label for="inputZip" class="text-semi">Zip</label>
                <input type="text" name="zip" class="form-control" placeholder="12345">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="checkbox mb-3 px-2" re>
                <label class="text-semi">
                    <input required type="checkbox" value="TnC"> I've read and agree to <a asp-controller="Home" asp-action="Soon">ListORama's terms and conditions</a>
                </label>
            </div>
            <div class="col-md-4 px-2">
                <button class="btn btn-sm btn-primary btn-block" type="submit">Sign me up</button>
            </div>
        </div>

    </form>
    }
    else
    {
        <div class="">
            <h1 class="h3 mb-3 font-weight-normal text-center">
                Signup Successful... Please proceed to <a asp-controller="User" asp-action="Login">Login</a>
            </h1>
        </div>

    }
}