@{
    ViewData["Title"] = "About";
}

    <main role="main" class="container">
        <div class="my-3 px-2 bkgd-white rounded box-shadow">
            <h6 class="border-bottom border-gray">Project Group</h6>
            <div class="col-md-9">
                <span class="text-semi">Shyam Attiganal, Brian Hammond and Venkata Sivarama Telaprolu</span>
            </div>
            <h6 class="border-bottom border-gray">About List-O-Rama (Content)</h6>
            <div class="col-md-9">
                <span class="text-semi">
                    List-O-Rama is a platform for :
                    <ul>
                        <li>
                            <strong>Individual consumers or a group of consumers</strong> to create and share lists for a common need or a specific purpose. Common uses are weekly shopping, party or event planning, to-do lists. etc.
                        </li>
                        <li>
                            <strong>Merchants </strong> to increase customer base, increase sales, and grow revenue. This is accomplished by offering incentives and discounts to existing clients, or targeting specific demographics or groups to increase customer base. Insight on Who buys, When they buy, Why they buy, What they buy, and How they buy, and how much they spend.
                        </li>
                        <li>
                            The platform <strong>connects users with merchants </strong>for mutual benefits. Users get suggestions and discounts.  Merchants get customers and insights
                        </li>
                    </ul>
                </span>
            </div>
            <h6 class="border-bottom border-gray">Design Guidelines</h6>
            <div class="col-md-9">
                <span class="text-semi">
                    <ul>
                        <li><strong>Mobile First</strong> : We designed the pages for smaller devices first and then scaled up.</li>
                        <li><strong>Responsive</strong> : Works well on devices of all size, small (mobile phones), medium (tablets) and beig (desktops).</li>
                        <li><strong>Lite Weight</strong> : We have used SVGs in place of images as they are lite weight and scale well easily across devices.</li>
                        <li><strong>Intuitive navigation & Browser Support</strong>: Easy nvigation with large buttons and fewer clicks. Non verbose links have tooltips. The site runs same on all different browsers.</li>
                    </ul>
                </span>
            </div>
            <h6 class="border-bottom border-gray">Working Links</h6>
            <div class="col-md-9">
                <span class="text-semi">
                    <ul>
                        <li><strong>Welcome Page</strong> : Sign me up already!, About Project and Login</li>
                        <li><strong>Login Page</strong> : Sign in button</li>
                        <li>
                            <strong>Dashboard</strong> : Add List <svg xmlns="http://www.w3.org/2000/svg" width="10pt" height="10pt" class="svg-inline--fa fa-plus-circle fa-w-16" role="img" aria-hidden="true" viewBox="0 0 512 512" focusable="false"
                                                                       data-icon="plus-circle" data-prefix="fas">
                                <path fill="#1c96dc" d="M 256 8 C 119 8 8 119 8 256 s 111 248 248 248 s 248 -111 248 -248 S 393 8 256 8 Z m 144 276 c 0 6.6 -5.4 12 -12 12 h -92 v 92 c 0 6.6 -5.4 12 -12 12 h -56 c -6.6 0 -12 -5.4 -12 -12 v -92 h -92 c -6.6 0 -12 -5.4 -12 -12 v -56 c 0 -6.6 5.4 -12 12 -12 h 92 v -92 c 0 -6.6 5.4 -12 12 -12 h 56 c 6.6 0 12 5.4 12 12 v 92 h 92 c 6.6 0 12 5.4 12 12 v 56 Z" />
                            </svg> and Breakup of lits (Chart) <svg xmlns="http://www.w3.org/2000/svg" width="10pt" height="10pt" class="svg-inline--fa fa-chart-pie fa-w-17" role="img" aria-hidden="true" viewBox="0 0 544 512" focusable="false"
                                                                    data-icon="chart-pie" data-prefix="fas">
                            <path fill="#1c96dc" d="M 527.79 288 H 290.5 l 158.03 158.03 c 6.04 6.04 15.98 6.53 22.19 0.68 c 38.7 -36.46 65.32 -85.61 73.13 -140.86 c 1.34 -9.46 -6.51 -17.85 -16.06 -17.85 Z m -15.83 -64.8 C 503.72 103.74 408.26 8.28 288.8 0.04 C 279.68 -0.59 272 7.1 272 16.24 V 240 h 223.77 c 9.14 0 16.82 -7.68 16.19 -16.8 Z M 224 288 V 50.71 c 0 -9.55 -8.39 -17.4 -17.84 -16.06 C 86.99 51.49 -4.1 155.6 0.14 280.37 C 4.5 408.51 114.83 513.59 243.03 511.98 c 50.4 -0.63 96.97 -16.87 135.26 -44.03 c 7.9 -5.6 8.42 -17.23 1.57 -24.08 L 224 288 Z" /></svg>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
    </main>
    