@model Chart
@{
    ViewData["Title"] = "Chart";
}

<
<br />
<br />
<div class="form-signup py-5 justify-content-between">
    <h6>This page uses <a href="https://couponapi.org/api/getStores/">Stores API</a> from <a href="https://couponapi.org/">Coupon API</a> collections to fetch and store a list of stores running offers. It then aggregates offers by country to show top 10 countries with most offers. This page uses charts.js (v2.9.3) to generate the chart. Go back to 
    <a asp-controller="User" asp-action="Dashboard">Dashboard</a></h6>
    <div style="style=" width: 400px; margin: auto; float:none"">
        <canvas id="parksByState"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script>
                var config = {
                    type: '@Model.chartType',
                    data: {
                        datasets: [{
                            label: 'Top 10 Countries with offers',
                            data: [@Model.data],
                            backgroundColor: [@Html.Raw(@Model.backgroundColors)]
                        }],
                        labels: [@Html.Raw(@Model.labels)]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: '@Model.chartTitle'
                        },
                        animation: {
                            animateScale: true,
                            animateRotate: true
                        }
                    }
                };
                window.onload = function () {
                    var ctx = document.getElementById('parksByState').getContext('2d');
                    window.myDoughnut = new Chart(ctx, config);
                };
    </script>
</div>