@model Lists 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <table>
        <tr>
            @foreach (List l in Model.list)
            {
                <td>
                    @l.listName - @l.listStatus
                </td>
            }
        </tr>
    </table>
</div>


