@model ListORama.Models.ItemList

@{
    ViewData["Title"] = "CreateList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<br />
<br />
<br />
<br />
<h1 class="h3 mb-3 font-weight-normal text-center">Create a New List</h1>

<form class="form-signin py-5 justify-content-md-center" asp-controller="List" asp-action="CreateList" method="post">


    <div class= "row py-2" >
        <label for="listName" class="sr-only">List Name</label>
        <input asp-for="ItemsList[0].listName" type="text" id="listName" class="form-control" placeholder="List Name" required autofocus>
    </div>
    <div class="form-group row py-2">
        <table id="listItemsTab">
            <tr id="0">
                <td><input asp-for="ItemsList[0].listItems" type="text" id="listItems0" class="form-control" placeholder="Item 1" /></td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="delItem($(this));">Delete</button>
                </td>
            </tr>
        </table>
    </div>


    <div>
        <button class="btn btn-primary" type="button" onclick="addItem()">Add Item</button>
    </div>
    <br />
    <div>
        <input type="submit" class="btn btn-primary btn-block" value="Save List" />
    </div>



</form>