@model IEnumerable<ListORama.Models.ListGroup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Groups</h1>

<p>
    <a asp-action="Create">Create New Group</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Current Groups
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.listGroupName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.listGroupID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.listGroupID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.listGroupID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
