@model IEnumerable<ListORama.Models.ListGroup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <main role="main" class="container">
        <div class="my-3 px-2 bkgd-white rounded box-shadow">
            <div class="row">
                <div class="py-2 px-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" class="svg-inline--fa fa-user-circle fa-w-16" role="img" aria-hidden="true" viewBox="0 0 496 512" focusable="false"
                         data-icon="user-circle" data-prefix="fas">
                        <path fill="#1c96dc" d="M 248 8 C 111 8 0 119 0 256 s 111 248 248 248 s 248 -111 248 -248 S 385 8 248 8 Z m 0 96 c 48.6 0 88 39.4 88 88 s -39.4 88 -88 88 s -88 -39.4 -88 -88 s 39.4 -88 88 -88 Z m 0 344 c -58.7 0 -111.3 -26.6 -146.5 -68.2 c 18.8 -35.4 55.6 -59.8 98.5 -59.8 c 2.4 0 4.8 0.4 7.1 1.1 c 13 4.2 26.6 6.9 40.9 6.9 c 14.3 0 28 -2.7 40.9 -6.9 c 2.3 -0.7 4.7 -1.1 7.1 -1.1 c 42.9 0 79.7 24.4 98.5 59.8 C 359.3 421.4 306.7 448 248 448 Z" />
                    </svg>
                </div>
                <div class="col-md-4 ">
                    <p class="text-semi">
                        <b>Jon Doe</b>&nbsp;
                        <a href="CreateList.html" data-toggle="tooltip" title="Edit Profile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="svg-inline--fa fa-user-edit fa-w-20" role="img" aria-hidden="true" viewBox="0 0 640 512" focusable="false"
                                 data-icon="user-edit" data-prefix="fas">
                                <path fill="#1c96dc" d="M 224 256 c 70.7 0 128 -57.3 128 -128 S 294.7 0 224 0 S 96 57.3 96 128 s 57.3 128 128 128 Z m 89.6 32 h -16.7 c -22.2 10.2 -46.9 16 -72.9 16 s -50.6 -5.8 -72.9 -16 h -16.7 C 60.2 288 0 348.2 0 422.4 V 464 c 0 26.5 21.5 48 48 48 h 274.9 c -2.4 -6.8 -3.4 -14 -2.6 -21.3 l 6.8 -60.9 l 1.2 -11.1 l 7.9 -7.9 l 77.3 -77.3 c -24.5 -27.7 -60 -45.5 -99.9 -45.5 Z m 45.3 145.3 l -6.8 61 c -1.1 10.2 7.5 18.8 17.6 17.6 l 60.9 -6.8 l 137.9 -137.9 l -71.7 -71.7 l -137.9 137.8 Z M 633 268.9 L 595.1 231 c -9.3 -9.3 -24.5 -9.3 -33.8 0 l -37.8 37.8 l -4.1 4.1 l 71.8 71.7 l 41.8 -41.8 c 9.3 -9.4 9.3 -24.5 0 -33.9 Z" />
                            </svg>
                        </a>
                    </p>
                    <p class="small">Member since June 2019</b></p>
                </div>
            </div>
        </div>
        <div class="my-3 p-3 bkgd-white rounded box-shadow">
            <div class="menurow py-1 float-right">
                <div class="col-sm-4">
                    <div>
                        <a asp-action="Create" data-toggle="tooltip" title="New Group">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="svg-inline--fa fa-plus-circle fa-w-16" role="img" aria-hidden="true" viewBox="0 0 512 512" focusable="false"
                                 data-icon="plus-circle" data-prefix="fas">
                                <path fill="#1c96dc" d="M 256 8 C 119 8 8 119 8 256 s 111 248 248 248 s 248 -111 248 -248 S 393 8 256 8 Z m 144 276 c 0 6.6 -5.4 12 -12 12 h -92 v 92 c 0 6.6 -5.4 12 -12 12 h -56 c -6.6 0 -12 -5.4 -12 -12 v -92 h -92 c -6.6 0 -12 -5.4 -12 -12 v -56 c 0 -6.6 5.4 -12 12 -12 h 92 v -92 c 0 -6.6 5.4 -12 12 -12 h 56 c 6.6 0 12 5.4 12 12 v 92 h 92 c 6.6 0 12 5.4 12 12 v 56 Z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <a asp-action="Index" asp-controller="ListGroupUsers" data-toggle="tooltip" title="Group Users">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="svg-inline--fa fa-users-cog fa-w-20" role="img" aria-hidden="true" 
                                 viewBox="0 0 640 512" focusable="false" data-icon="users-cog" 
                                 data-prefix="fas"><path fill="#1c96dc" d="M 610.5 341.3 c 2.6 -14.1 2.6 -28.5 0 -42.6 l 25.8 -14.9 c 3 -1.7 4.3 -5.2 3.3 -8.5 c -6.7 -21.6 -18.2 -41.2 -33.2 -57.4 c -2.3 -2.5 -6 -3.1 -9 -1.4 l -25.8 14.9 c -10.9 -9.3 -23.4 -16.5 -36.9 -21.3 v -29.8 c 0 -3.4 -2.4 -6.4 -5.7 -7.1 c -22.3 -5 -45 -4.8 -66.2 0 c -3.3 0.7 -5.7 3.7 -5.7 7.1 v 29.8 c -13.5 4.8 -26 12 -36.9 21.3 l -25.8 -14.9 c -2.9 -1.7 -6.7 -1.1 -9 1.4 c -15 16.2 -26.5 35.8 -33.2 57.4 c -1 3.3 0.4 6.8 3.3 8.5 l 25.8 14.9 c -2.6 14.1 -2.6 28.5 0 42.6 l -25.8 14.9 c -3 1.7 -4.3 5.2 -3.3 8.5 c 6.7 21.6 18.2 41.1 33.2 57.4 c 2.3 2.5 6 3.1 9 1.4 l 25.8 -14.9 c 10.9 9.3 23.4 16.5 36.9 21.3 v 29.8 c 0 3.4 2.4 6.4 5.7 7.1 c 22.3 5 45 4.8 66.2 0 c 3.3 -0.7 5.7 -3.7 5.7 -7.1 v -29.8 c 13.5 -4.8 26 -12 36.9 -21.3 l 25.8 14.9 c 2.9 1.7 6.7 1.1 9 -1.4 c 15 -16.2 26.5 -35.8 33.2 -57.4 c 1 -3.3 -0.4 -6.8 -3.3 -8.5 l -25.8 -14.9 Z M 496 368.5 c -26.8 0 -48.5 -21.8 -48.5 -48.5 s 21.8 -48.5 48.5 -48.5 s 48.5 21.8 48.5 48.5 s -21.7 48.5 -48.5 48.5 Z M 96 224 c 35.3 0 64 -28.7 64 -64 s -28.7 -64 -64 -64 s -64 28.7 -64 64 s 28.7 64 64 64 Z m 224 32 c 1.9 0 3.7 -0.5 5.6 -0.6 c 8.3 -21.7 20.5 -42.1 36.3 -59.2 c 7.4 -8 17.9 -12.6 28.9 -12.6 c 6.9 0 13.7 1.8 19.6 5.3 l 7.9 4.6 c 0.8 -0.5 1.6 -0.9 2.4 -1.4 c 7 -14.6 11.2 -30.8 11.2 -48 c 0 -61.9 -50.1 -112 -112 -112 S 208 82.1 208 144 c 0 61.9 50.1 112 112 112 Z m 105.2 194.5 c -2.3 -1.2 -4.6 -2.6 -6.8 -3.9 c -8.2 4.8 -15.3 9.8 -27.5 9.8 c -10.9 0 -21.4 -4.6 -28.9 -12.6 c -18.3 -19.8 -32.3 -43.9 -40.2 -69.6 c -10.7 -34.5 24.9 -49.7 25.8 -50.3 c -0.1 -2.6 -0.1 -5.2 0 -7.8 l -7.9 -4.6 c -3.8 -2.2 -7 -5 -9.8 -8.1 c -3.3 0.2 -6.5 0.6 -9.8 0.6 c -24.6 0 -47.6 -6 -68.5 -16 h -8.3 C 179.6 288 128 339.6 128 403.2 V 432 c 0 26.5 21.5 48 48 48 h 255.4 c -3.7 -6 -6.2 -12.8 -6.2 -20.3 v -9.2 Z M 173.1 274.6 C 161.5 263.1 145.6 256 128 256 H 64 c -35.3 0 -64 28.7 -64 64 v 32 c 0 17.7 14.3 32 32 32 h 65.9 c 6.3 -47.4 34.9 -87.3 75.2 -109.4 Z" /></svg>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <a asp-action="Dashboard" asp-controller="User" data-toggle="tooltip" title="Dashboard">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="svg-inline--fa fa-list-alt fa-w-16" role="img" aria-hidden="true" viewBox="0 0 512 512" focusable="false" 
                                 data-icon="list-alt" data-prefix="fas">
                                <path fill="#1c96dc" d="M 464 480 H 48 c -26.51 0 -48 -21.49 -48 -48 V 80 c 0 -26.51 21.49 -48 48 -48 h 416 c 26.51 0 48 21.49 48 48 v 352 c 0 26.51 -21.49 48 -48 48 Z M 128 120 c -22.091 0 -40 17.909 -40 40 s 17.909 40 40 40 s 40 -17.909 40 -40 s -17.909 -40 -40 -40 Z m 0 96 c -22.091 0 -40 17.909 -40 40 s 17.909 40 40 40 s 40 -17.909 40 -40 s -17.909 -40 -40 -40 Z m 0 96 c -22.091 0 -40 17.909 -40 40 s 17.909 40 40 40 s 40 -17.909 40 -40 s -17.909 -40 -40 -40 Z m 288 -136 v -32 c 0 -6.627 -5.373 -12 -12 -12 H 204 c -6.627 0 -12 5.373 -12 12 v 32 c 0 6.627 5.373 12 12 12 h 200 c 6.627 0 12 -5.373 12 -12 Z m 0 96 v -32 c 0 -6.627 -5.373 -12 -12 -12 H 204 c -6.627 0 -12 5.373 -12 12 v 32 c 0 6.627 5.373 12 12 12 h 200 c 6.627 0 12 -5.373 12 -12 Z m 0 96 v -32 c 0 -6.627 -5.373 -12 -12 -12 H 204 c -6.627 0 -12 5.373 -12 12 v 32 c 0 6.627 5.373 12 12 12 h 200 c 6.627 0 12 -5.373 12 -12 Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <p>
                <a asp-action="Create">Create New Group</a>
            </p> -->
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <h6 class="border-bottom border-gray pb-2 mb-0">
                                My Lists
                            </h6><!--Current Groups-->
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.listGroupName) &nbsp; <a asp-action="Edit" asp-route-id="@item.listGroupID" data-toggle="tooltip" title="Edit Group">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="svg-inline--fa fa-edit fa-w-18" role="img" aria-hidden="true" viewBox="0 0 576 512" focusable="false"
                                         data-icon="edit" data-prefix="fas">
                                        <path fill="#1c96dc" d="M 402.6 83.2 l 90.2 90.2 c 3.8 3.8 3.8 10 0 13.8 L 274.4 405.6 l -92.8 10.3 c -12.4 1.4 -22.9 -9.1 -21.5 -21.5 l 10.3 -92.8 L 388.8 83.2 c 3.8 -3.8 10 -3.8 13.8 0 Z m 162 -22.9 l -48.8 -48.8 c -15.2 -15.2 -39.9 -15.2 -55.2 0 l -35.4 35.4 c -3.8 3.8 -3.8 10 0 13.8 l 90.2 90.2 c 3.8 3.8 10 3.8 13.8 0 l 35.4 -35.4 c 15.2 -15.3 15.2 -40 0 -55.2 Z M 384 346.2 V 448 H 64 V 128 h 229.8 c 3.2 0 6.2 -1.3 8.5 -3.5 l 40 -40 c 7.6 -7.6 2.2 -20.5 -8.5 -20.5 H 48 C 21.5 64 0 85.5 0 112 v 352 c 0 26.5 21.5 48 48 48 h 352 c 26.5 0 48 -21.5 48 -48 V 306.2 c 0 -10.7 -12.9 -16 -20.5 -8.5 l -40 40 c -2.2 2.3 -3.5 5.3 -3.5 8.5 Z" />
                                    </svg>
                                </a>&nbsp;
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.listGroupID" data-toggle="tooltip" title="View Details">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="svg-inline--fa fa-info-circle fa-w-16" role="img" aria-hidden="true" viewBox="0 0 512 512" 
                                         focusable="false" data-icon="info-circle" data-prefix="fas"><path fill="#1c96dc" d="M 256 8 C 119.043 8 8 119.083 8 256 c 0 136.997 111.043 248 248 248 s 248 -111.003 248 -248 C 504 119.083 392.957 8 256 8 Z m 0 110 c 23.196 0 42 18.804 42 42 s -18.804 42 -42 42 s -42 -18.804 -42 -42 s 18.804 -42 42 -42 Z m 56 254 c 0 6.627 -5.373 12 -12 12 h -88 c -6.627 0 -12 -5.373 -12 -12 v -24 c 0 -6.627 5.373 -12 12 -12 h 12 v -64 h -12 c -6.627 0 -12 -5.373 -12 -12 v -24 c 0 -6.627 5.373 -12 12 -12 h 64 c 6.627 0 12 5.373 12 12 v 100 h 12 c 6.627 0 12 5.373 12 12 v 24 Z" /></svg>
                                </a> &nbsp;
                                <a asp-action="Delete" asp-route-id="@item.listGroupID" data-toggle="tooltip" title="Delete Group">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" aria-hidden="true" viewBox="0 0 448 512" 
                                         focusable="false" data-icon="trash-alt" data-prefix="fas"><path fill="#1c96dc" d="M 32 464 a 48 48 0 0 0 48 48 h 288 a 48 48 0 0 0 48 -48 V 128 H 32 Z m 272 -256 a 16 16 0 0 1 32 0 v 224 a 16 16 0 0 1 -32 0 Z m -96 0 a 16 16 0 0 1 32 0 v 224 a 16 16 0 0 1 -32 0 Z m -96 0 a 16 16 0 0 1 32 0 v 224 a 16 16 0 0 1 -32 0 Z M 432 32 H 312 l -9.4 -18.7 A 24 24 0 0 0 281.1 0 H 166.8 a 23.72 23.72 0 0 0 -21.4 13.3 L 136 32 H 16 A 16 16 0 0 0 0 48 v 32 a 16 16 0 0 0 16 16 h 416 a 16 16 0 0 0 16 -16 V 48 a 16 16 0 0 0 -16 -16 Z" /></svg>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
